section{
    margin-top: 50px;
}
section div{
    margin-top: 30px;
    padding-left: 20px;
}
section  p{
    line-height: 30px;
}
#header div{
    display: inline-block;
    width: 100%;
}
#header a{
    color: #ffffff;
    font-size: 30px;
}
.setting{
    margin-top: 50px;
}

