
.box{width:100%;margin:40px auto 0;background:#fff;border:1px solid #d3d3d3}
.tab_menu{ padding:0 40px;background-color: #fff;position: absolute;top: 40px;width: 100%}
.tab_menu li{width:50%;float:left;height:35px;line-height:35px;color:black;text-align:center;cursor:pointer;}
.tab_menu li.current{border-bottom: 1px solid  red}
.tab_box{background-color: #eeeeee;width: 100%;height:100%;overflow: auto;padding-top: 33px}
.tab_box .hide{display:none;}
.bottom{height: 30px;text-align: center;margin-bottom: 49px;}
.bottom p{line-height: 30px;display: inline-block}
.bottom span{display: inline-block;border: 1px solid rgba(220, 220, 220, 0.64);width: 80px;margin: 0 10px}
/*item*/
.top{
    height: 40px;
}
.top i,.top span{
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 5px;
}
.top i{
    margin-left: 15px;
    color: red;
    font-size: 22px;
}
.lists{
    background-color: #fff;
    width: 100%;
    border-top: 1px solid gainsboro;
}
.lists:after{
    content: '';
    display: block;
    clear: both;
}
.lists .list{
    width: 33.3333%;
    display: inline-block;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    float: left;
}
.list p{
    text-align: center;
}
.list img{
    width: 100%;
}
