.topic {
    background:#d3d3d3;
    margin-bottom: 49px;
    overflow: auto;
}

.topic li {
    line-height: 40px;
    height: 40px;
    width: 33.33333%;
    overflow: hidden;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    background-color: white;
    display: inline-block;
    text-align: center;
    float: left;
}

.topic i{
    color:orangered;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    display: inline-block;
}
.topic .hide {
    display: none;
}
.topic div{
    height: 100%;background-color: #d3d3d3;
}
.topic ul{
    background-color: white;
}
.topic ul:after{
    clear: both;
    content:'' ;
    display: block;
    /*letter-spacing: -5px;*/
}